
@import url('//at.alicdn.com/t/font_652571_l3w3t3ei8t9.css');


/* icon css  start */

.icon-nan:before {
    color: #73a6ff;
}

.icon-nv:before {
    color: #fa8cec;
}

.icon-weizhi:before {
    color: #e36554;
}

.icon-fl-jia:before {
    color: #1acad8;
}

.icon-shengri:before {
    color: #84b51e;
}

.icon-xingzuo:before {
    color: #ffbd5a;
}

.icon-daxuemingcheng:before {
    color: #d81e06;
}
.icon-shengao:before{
    color: #E9443D;
}
.icon-tizhong:before{
    color: #2CCEAA;
}
.icon-chouyan:before{
    color: #51C332;
}
.icon-hejiu:before{
    color: #51C332;
}
.icon-qianmoney125:before{
    color: #F8E8CA;
}
.icon-qianmoney113:before{
    color: gold;
}
.icon-cheliang:before{
    color: #246734;
}
.icon-icon-test1:before,.icon-icon-test{
    color: #F3848F;
}
.icon-biaoqian:before{
    color: #21B1F0;
}
.icon-smileface:before{
    color: #EE5E7B;
}
.icon-xingquaihao:before{
    color: #D79A93;
}
.icon-shiwu:before{
    color: #FF5307;
}
.icon-dianying:before{
    color: #049AA9;
}
.icon-lvhang:before{
    color: #79C023;
}
.icon-yundong101:before{
    color: #EA7B75;
}
/* inco css end  */
